---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogLayout from '../../components/BlogLayout.astro';

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');
  
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const data = post.data;
---

<BaseLayout 
  title={data.title} 
  description={data.description}
>
  <div class="container mx-auto px-4 py-8">
    <BlogLayout
      title={data.title}
      description={data.description}
      date={data.date}
      author={data.author}
      category={data.category}
      readTime={data.readTime}
    >
      <Content />
    </BlogLayout>
  </div>
</BaseLayout>